target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### server ###
/messenger_server/target/

### client ###
/messenger_client/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### дбшки ###
chat.db
chat.db-shm
chat.db-wal

### до переноса в отдельные проедки весь код лежал тут 👇 ###
/src/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store